@keyframes background-slide {
    0% {left:-56.569vw;}
    100% {left:0vw;}
}

@keyframes menu-slide {
    0% {transform:translateX(0px) rotate(90deg);}
    100% {transform:translateX(200px) rotate(90deg);}
}