@import url('https://fonts.googleapis.com/css?family=Quicksand');

html,body,p,h1,h2,h3 {
    /* color: white; */
    font-family: Quicksand;
    color: var(--text);
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

::selection {
    background: #FFC82D;
}

body {
    --bg: #FFFFFF;
    --bg-accent: #F9F9F9;
    --text: #000000;
    --accent: #ffbf00;
    --accent-accent: #ffd65e;
    --link-text: #0000FF;
    /* background-color:var(--bg); */
    background: repeating-linear-gradient(45deg, var(--bg), var(--bg) 30px, var(--bg-accent) 30px, var(--bg-accent) 60px);
}

.sidebar {
    width: 160px;
    height: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -160px;
    color: var(--text);
    background-color: var(--accent);
    overflow-x: hidden;
    transform: rotate(-270deg);
    transition: left 0.5s;
}

.sidebar:hover {
    left: -45px;
}

#menu {
    text-align: center;
    padding: 6px 8px 6px 16px;
    font-size: 25px;
    color: black;
    font-style: bold;
    display: block;
}

.sidebar a {
    text-align: center;
    font-size: 20px;
    color: black;
    font-style: italic;
    display: block;
    text-decoration: none;
}

.project {
    width: 50vw;
    margin: auto;
    margin-top: 25px;
}

.project-content {
    width: 50vw;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 5vw;
}

.img {
    width: 500px;
    object-fit: cover;
    border-radius: 5%;
}

.contact {
    text-align: center;
    margin-bottom: 20px;
}

a {
    color: var(--link-text);
    text-decoration: none;
}

#button-container {
    text-align: center;
    padding-top: 5px;
}

button {
    font-family: Quicksand;
    background-color: var(--accent);
    font-style: italics;
    font-size: 18px;
    border-radius: 6px;
}

button:hover {
    background-color: var(--accent-accent);
}