@import url('https://fonts.googleapis.com/css?family=Quicksand');
:root {
    --dark: #000000;
    --dark-accent: #090909;
    --light: black;
    --light-accent: #d6d6d6;
}

html,body,p,h1,h2,h3 {
    /* color: white; */
    font-family: Quicksand;
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
::selection {
    background: #FFC82D;
}



.sidebar {
    width: 160px;
    height: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -160px;
    background-color: #ffbf00;
    overflow-x: hidden;
    transform: rotate(-270deg);
    transition: left 0.5s;
}

.sidebar:hover {
    left:-75px;
}

#menu {
    text-align: center;
    padding: 6px 8px 6px 16px;
    font-size: 25px;
    color: black;
    font-style: bold;
    display: block;
}

.sidebar a {
    text-align: center;
    font-size: 20px;
    color: black;
    font-style: italic;
    display: block;
    text-decoration: none;
}

.main {
    width:50vw;
    margin:auto;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 5vw;
}

#rhombicosidodecahedron {
    width: 12vw;
    object-fit: cover;
    border-radius: 50%;
}

.skill-list {
    font-size: 18px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.skill-sub {
    font-size: 16px;
    list-style-type: disc;
    margin: 0;
}

.experience {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.exp-title {
    font-size: 20px;
    font-style: italic;
    list-style-type: none;
}

.date {
    font-size: 16px;
}

.exp-description {
    font-size: 18px;
    list-style-type: disc;
}

.contact {
    text-align: center;
    margin-bottom: 20px;
}
a {
    color: blue;
    text-decoration: none;
}