@import url('https://fonts.googleapis.com/css?family=Quicksand');

html,body,p,h1,h2,h3 {
    /* color: white; */
    font-family: Quicksand;
    margin: 0;
    padding: 0;
    max-width: 100%;
    color: var(--text);
    overflow-x: hidden;
    overflow-y: auto;
}

::selection {
    background: var(--accent);
}

body {
    --bg: #FFFFFF;
    --bg-accent: #F9F9F9;
    --text: #000000;
    --accent: #ffbf00;
    --accent-accent: #ffd65e;
    --link-text: #0000FF;
    /* background-color:var(--bg); */
    min-height: 100vh;
    background: var(--bg);
}

/* Sidebar */
    .sidebar {
        width: 160px;
        height: 250px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: -160px;
        color: var(--text);
        background-color: var(--accent);
        border-radius: 6px;
        overflow-x: hidden;
        transform: rotate(-270deg);
        transition: left 0.5s;
    }

    .sidebar:hover {
        left: -20px;
    }

    #menu {
        text-align: center;
        padding: 6px 8px 6px 16px;
        font-size: 25px;
        color: black;
        font-style: bold;
        display: block;
    }

    .sidebar a {
        text-align: center;
        font-size: 20px;
        color: black;
        font-style: italic;
        display: block;
        text-decoration: none;
    }

/* Dark mode button */
    #button-container {
        text-align: center;
        padding-top: 5px;
    }

    button {
        font-family: Quicksand;
        background-color: var(--accent);
        font-style: italics;
        font-size: 18px;
        border-radius: 6px;
    }

    button:hover {
        background-color: var(--accent-accent);
    }

.main {
    width: 50vw;
    margin: auto;
    margin-top: 25px;
    color: var(--text);
    display: flex;
    justify-content: center;
    gap: 5vw;
}

.contact {
    text-align: center;
    margin-bottom: 20px;
}

a {
    color: var(--link-text);
    text-decoration: none;
}

/* Image */
#rhombicosidodecahedron {
    width: 300px;
    object-fit: cover;
    border-radius: 50%;
    padding-top:20px;
}

/* Project Page */
.project {
    width: 50vw;
    margin: auto;
    margin-top: 25px;
}

.project-content {
    width: 50vw;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 5vw;
}

.img {
    width: 500px;
    object-fit: cover;
    border-radius: 5%;
}

/* Resume Page */
.skill-list {
    font-size: 18px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.skill-sub {
    font-size: 16px;
    list-style-type: disc;
    margin: 0;
}

.experience {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.exp-title {
    font-size: 20px;
    font-style: italic;
    list-style-type: none;
}

.date {
    font-size: 16px;
}

.exp-description {
    font-size: 18px;
    list-style-type: disc;
}