@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
    --bg: #000000;
    --bg-accent: #101010;
    --text: #FFFFFF;
    --accent: #ffbf00;
    --link-text: #0000FF;
    --icon: #FFFFFF;
    --bg-spacing: 30px;
    --scroll: #303030;
    --scroll-hover: #282828;
    --scroll-track: #505050;
    min-height: 100vh;
    background: var(--bg);
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

html,body,p,h1,h2,h3 {
    /* color: white; */
    font-family: Quicksand;
    margin: 0;
    padding: 0;
    max-width: 100%;
    color: var(--text);
    overflow-x: hidden;
    overflow-y: auto;
}

::selection {
    background: var(--accent);
}

.wrapper {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes bg-slide {
    from {left: calc(var(--bg-spacing) * -2.828427);} /* -2*sqrt(2) */
    to {left: 0;}
}
.bg {
    background: repeating-linear-gradient(
        -45deg,
        var(--bg),
        var(--bg) var(--bg-spacing),
        var(--bg-accent) var(--bg-spacing),
        var(--bg-accent) calc(var(--bg-spacing) * 2));
    margin: 0;
    padding: 0;
    width: calc(100vw + 3 * var(--bg-spacing));
    height: 100vh;
    position: absolute;
    top: 0;
    animation-name: bg-slide;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.sidebar {
    width: 40px;
    height: 100vh;
    position: fixed;
    border-color: white;
    border-style: solid;
}

.main {
    position: absolute;
    top: 0;
    width: calc(100vw - 50px);
    height: 100vh;
    margin-left: 40px;
}

.content {
    width: 75vw;
    margin: auto;
}

.menuIcons {
    color: var(--icon);
    text-align: center;
    font-size: 30px;
}

.menu {
    width: 40px;
    margin: auto;
    position: absolute;
    top: 0;
    padding: 5px;
}

button {
    width: 40px;
    height: 40px;
    margin: auto;
    background: #00000000;
    border: none;
    position: absolute;
    transition-duration: 0.4s;
    padding: 5px;
    cursor: pointer;
}

.darkMode {
    bottom: 45px;
}

.weatherMenu {
    bottom: 5px;
}

.contactIcons {
    color: var(--icon);
    font-size: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

a {
    color: var(--bg);
}

a:hover {
    font-size: 35px;
}

.contact {
    position: relative;
    bottom: 0;
    width: 250px;
    text-align: center;
    margin: auto;
    padding: 5px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--scroll-track);
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--scroll);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-hover);
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100vw;
        height: 40px;
    }

    .sidebar a {
        float: left;
    }

    .main {
        top: 40px;
        margin-left: 0;
        padding-right: 17px;
    }

    .content {
        width: 100vw;
        padding: 5px;
        margin: auto;
    }

    .menu {
        width: 35px;
        position: absolute;
        top: 0;
        left: 0;
    }

    .darkMode {
        width: 35px;
        position: absolute;
        top: 0;
        right: 40px;
    }

    .weatherMenu {
        width: 35px;
        position: absolute;
        top: 0;
        right: 0;
    }
}